[Unit]
Description=Gunicorn instance to serve AirBnB Clone
# Start after the network is available
After=network.target

[Service]
ExecStart=/usr/bin/gunicorn tmux new-session -d 'gunicorn --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app'

[Install]
# Enable the service for multi-user.target
WantedBy=multi-user.target
